<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duarte.serviceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AutenticacaoPrestadorActivity"></activity>
        <activity android:name=".activity.AutenticacaoClienteActivity" />
        <activity android:name=".activity.SelecaoUsuarioActivity" />
        <activity android:name=".activity.CadastroPrestadorActivity" />
        <activity android:name=".activity.CadastroClienteActivity" />
        <activity android:name=".activity.SliderActivity" />
        <activity
            android:name=".activity.OrdensServicoActivity"
            android:parentActivityName=".activity.PrestadorActivity" />
        <activity
            android:name=".activity.ServicosActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.ConfiguracoesClienteActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.NovoServicoPrestadorActivity"
            android:parentActivityName=".activity.PrestadorActivity" />
        <activity
            android:name=".activity.ConfiguracoesPrestadorActivity"
            android:parentActivityName=".activity.PrestadorActivity" />
        <activity android:name=".activity.PrestadorActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.AutenticacaoActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>